input[type="text"], input[type="url"],input[type="email"], input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1.5px solid #FF9279;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

::placeholder {
    color: #FF9279; 
    font-weight: normal; 
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #FF9279;
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.logo-2 {
    width: 120px;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 10px;
}

.form {
    margin-bottom: 20px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.login-button {
    background-color: #FF9279;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 35px;
    cursor: pointer;
    font-size: 16px;
}

.btn-voltar{
    border: none;
    background-color: transparent;
    color: #FF9279;
    font-weight: 700;
    font-size: 18px;
}

.login-card-2 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #FF9279;
    padding: 10px;
    text-align: center;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-1 {
    margin-bottom: 20px;
    width: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.logo-3 {
    width: 150px;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 10px;
}

.livros {
    width: 250px;
}

.forms {
    margin-bottom: 12px;
    border-color: #FF9279;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="url"], textarea,select {
    width: 100%;
    padding: 10px;
    border: 1.5px solid #FF9279;
    border-radius: 10px;
    font-size: 16px;
}

input[type="text"], input[type="url"], textarea,select:focus {
    border-color: #FF9279;
    outline: none;
}

textarea {
    resize: vertical;
}

select {
    background-size: 20px;
    color: #FF9279;
    width: 430px;
}